/* .welcome-msg {
  font-size: 2.5em;
  background-color: coral;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.exit-msg {
  font-size: 2.5em;
  background-color: rgb(244, 15, 15);
  padding: 10px;
  border-radius: 5px;
  margin: 0;
} */
/* List.css */
/* .list-category {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.list-items {
  list-style-type: none;
  padding: 0;
}

.list-items li {
  font-size: 1rem;
  margin-bottom: 5px;
}

/* Hover effect */
.list-items li:hover {
  background-color: #f0f0f0;
  cursor: pointer;
} */
